# Ignore Python bytecode cache directories
__pycache__/
# Ignore Excel and PNG files in logs/
logs/*.xlsx
logs/*.png
assets/first_slot.png
assets/grinder_slot_tmp.png
todo.txt
# Ignore config folder and all JSON files inside
config/
config/*.json
config_bak/
config_bak/*.json
